.btn-orange-border {
  border: 2px solid #e8a981 !important;
  color: #f0c8ae !important;
  letter-spacing: 2px;
}

.btn-orange-border:hover {
  background-color: rgba(232, 169, 129, 0.1) !important;
}
