.btn-orange-border {
  border: 2px solid var(--accent-color) !important;
  color: var(--accent-color) !important;
  letter-spacing: 2px;
}

.btn-orange-border:hover {
  background-color: rgba(232, 169, 129, 0.1) !important;
}
