section#contact {
  min-height: inherit !important;
  margin: 0px auto;
}

@media (min-width: 992px) {
  #contact h2 {
    font-size: 40px;
  }
}

#contact h2 {
  color: #e8a981;
  font-size: 32px;
  margin-bottom: 25px;
}

.white {
  color: white;
}


.contact-infos {
  text-align: center !important;
}


.contact-infos p {
  font-size: 18px;
  max-width: 600px;
  margin-bottom: 10px;
}


.light-green {
  color: #85a293;
}
