@media (min-width: 992px) {
  .social-container ul {
    margin: 20px auto;
  }
}

.social-container ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 10px auto;
  }

  .social-container a {
    color: #85a293 !important;
    padding: 10px;
    font-size: 20px;
    max-width: 40px;
    max-height: 40px;
  }

  .social-container a img.orange-malt {
    display: none;
  }

  .email-container {
    display: none;
  }

@media (min-width: 992px) {
  .email-container, .social-container {
    width: 40px;
    position: fixed;
    bottom: 0;
  }

  .email-container {
    right: 40px;
    display: block;
  }

  .social-container {
    left: 40px;
  }

  .email, .social-container ul {
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .social-container ul {
    list-style: outside none none;
    margin: 0;
  }

  .email a {
    writing-mode: vertical-lr;
    color: #85a293 !important;
    margin: 0 auto;
    padding: 0 10px;
    letter-spacing: 0.5;
    font-family: 'Maven Pro', sans-serif;
  }


  .social-container a {
    color: #85a293 !important;
    padding: 10px;
    font-size: 20px;
    max-width: 40px;
    max-height: 40px;
  }

  .email a:hover, .social-container a:hover {
    color: #e8a981 !important;
    text-decoration: none;
    transform: translateY(+3px);
  }

  .social-container a img.orange-malt {
    display: none;
    width: -webkit-fill-available;
  }

  .social-container a:hover img.green-malt {
    display: none;
    width: -webkit-fill-available;
  }

  .social-container a:hover img.orange-malt {
    display: block;
  }

  .email > a::after, .social-container ul::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    background-color: #85a293;
    margin: 30px auto 0;
  }

  .email > a.mentions-activated::after {
    height: 15px;
  }
}
