.social-container {
  margin-top: 2rem;
}

.social-container ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.social-container li {
  padding: 0 1rem;
}

.social-container li:first-child {
  padding-left: 0;
}

.social-container a {
  color: var(--text-color);
  font-size: 2rem;
}

.social-container a img {
  max-width: 2rem;
  max-height: 2rem;
  /* margin-left: -10px; */
}

.social-container a img.orange-malt {
  display: none;
}

@media (min-width: 992px) {
  .social-container ul {
    margin: 20px auto;
    align-items: center;
    position: relative;
    display: flex;
    list-style: outside none none;
    margin: 0;
  }

  .social-container a:hover {
    color: var(--accent-color) !important;
    text-decoration: none;
    transform: translateY(+3px);
  }

  .social-container a img.orange-malt {
    display: none;
  }

  .social-container a:hover img.green-malt {
    display: none;
  }

  .social-container a:hover img.orange-malt {
    display: block;
  }
}
