.experience-content {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.experience-list {
  display: block;
  position: relative;
  width: 100%;
  z-index: 3;
  padding: 0px;
  margin: 30px 0px;
  list-style: outside none none;
}

.experience-employer {
  margin: 15px 0px;
  box-shadow: var(--lighter-bg) 0px 0px 20px -10px;
}

.experience-employer.active {
  height: max-content;
}

@media (min-width: 992px) {
  .experience-title {
    padding: 0px 20px;
  }

  .experience-employer .experience-title h4{
    font-size: 18px;
  }
}

.experience-title {
    cursor: pointer;
    width: 100%;
    min-height: 50px;
    border-left: 2px solid rgba(133, 162, 147, 0.6);
    padding: 20px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    background-color: rgba(3, 64, 63, 0.6);
    align-items: center;
    justify-content: space-between;
}


@media (min-width: 992px) {
  .experience-employer .experience-title h4{
    letter-spacing: 1px !important;
  }
}


.experience-employer .experience-title h4 {
  color: white;
  font-family: 'Maven Pro', 'Lato',sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
  padding-right: 4px;
  margin: 0 !important;
  font-weight: lighter;
}

.employer-name {
  color: var(--accent-color) !important;
}

#experience a.employer-name:hover {
  color: var(--text-color) !important;
}

.experience-details {
  font-family: 'Lato',sans-serif;
  height: 0;
  opacity: 0;
 overflow: hidden;
}

.experience-details.active {
  opacity: 1;
  height: auto;
  padding: 30px 20px;
}

.experience-details p.experience-date {
  font-size: 16px;
  line-height: 16px;
}

.experience-details .list {
  columns: 1;
  margin-bottom: 20px;
}

.experience-details li,
.experience-details p {
  font-size: 16px;
  line-height: 23px;
}

.experience-title p.dropdown-triangle {
  margin: 0 !important;
  color: var(--accent-color);
  font-size: 24px;
  transform: rotate(90deg);

}

.rotated {
  transform: rotate(180deg) !important;
}
