#intro {
  padding: 110px 0 0 0;
  min-height: calc(100vh - 130px);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) {
 #intro {
    padding: 150px 0;
 }
 #intro h1 {
    line-height: 1.2 !important;
 }
}

#intro h1 {
  font-size: 50px !important;
  color: white;
  line-height: 1 ;
  letter-spacing: 2px;
}

@media (min-width: 992px) {
  h1 {
    font-size: 80px !important;
  }
}

#intro h3 {
  color: #e8a981;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 10px;
  letter-spacing: 1px;
}



#intro h2 {
  color: #85a293;
  font-size: 35px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

@media (min-width: 992px) {
  #intro h2 {
    font-size: 55px;
    margin-bottom: 70px;
  }
}

#intro p {
  max-width: 600px;
  line-height: 1.3;
  text-align: left;
  text-align: justify;
  font-size: 17px;
}

@media (min-width: 992px) {
  #intro p {
    font-size: 20px;
  }
}

a.get-in-touch {
  margin-top: 20px;
  padding: 20px 28px !important;
  font-size: 16px !important;
}

@media (min-width: 992px) {
  a.get-in-touch {
    margin-top: 50px;
  }
}
