.container-navbar {
  width: 100%;
  padding: 0 50px !important;
  box-shadow: rgba(0, 33, 32, 0.7) 0px 10px 30px -10px
}

.navbar-clairedmt {
  justify-content: space-between !important;
  height: 100px !important;
}

.navbar-clairedmt .navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  margin: 0 10px;
  font-family: 'Maven Pro', sans-serif;
}

.navbar-icon {
  height: 80%;
}

.navbar-icon img {
  height: 100%;
}

.navbar .btn-orange-border {
  margin-left: 10px;
}

