#portfolio {
  justify-content: center;
  -moz-box-align: center;
  flex-direction: column;
  align-items: flex-start;
}

#portfolio .portfolio__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 4rem;
}

@media (min-width: 1400px) {
  #portfolio .portfolio__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
  }
}

.portfolio__project {
  position: relative;
  height: 35vh;
}

.portfolio__project h3 {
  color: white;
  text-align: center;
}

.techno-infos {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.techno-infos ul {
  padding: 0;
  margin: 0 0 1rem 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
  row-gap: 0.75rem;
}

.techno-infos li {
  color: var(--accent-color);
  appearance: button;
  background-color: var(--bg);
  border: 1px solid var(--bg);
  border-radius: 4px;
  box-shadow: #fff 3px 3px 0 0,var(--bg) 3px 3px 0 1px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  margin-right: 1rem;
  overflow: visible;
  padding: 0.5rem 1rem;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.techno {
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
}

.portfolio__project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.infos-project {
  background: var(--lighter-bg) none repeat scroll 0% 0%;
  overflow: hidden;
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.8s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
}

.infos-project:hover {
  opacity: 1;
  transition: opacity 0.8s ease;
}

.portfolio__project__description {
  font-size: 0.85rem;
  line-height: 1.1;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: justify;
}

@media (min-width: 992px) {
  .visible-mobile {
    display: none;
  }

  .infos-project > h3 {
    font-size: 30px;
  }

  .portfolio__project__description {
    font-size: 0.85rem;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    line-height: 1.5 !important;
    text-align: center;
  }

  .portfolio__project__context {
    margin-bottom: 10px;
  }

  .portfolio__project__job {
    margin-bottom: 10px;
  }

  .portfolio__project__links a {
    font-size: 1.25rem;
    transition: all 0.3s;
  }
 }

 .visible-desktop {
  display: none;
 }

h3.visible-mobile {
  font-size: 18px;
  margin-top: 10px;
}

.infos-project p {
  text-align: center;
  font-family: 'Nanum Gothic', sans-serif;
}


.portfolio__project__context {
  color: black;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1px;
}

.portfolio__project__job {
  margin-top: 3rem;
  font-size: 1.25rem;
  color: var(--accent-color);
}

.portfolio__project__links {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.portfolio__project__links a i {
  color: white;
  transition: all 0.3s;
}

.portfolio__project__links .fa-arrow-right {
  transform: rotate(-45deg);
}


.portfolio__project__links a:hover i {
  color: var(--accent-color);
  transition: all 0.3s;
}
