#portfolio {
  justify-content: center;
  -moz-box-align: center;
  flex-direction: column;
  align-items: flex-start;
}


.project {
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(12, 1fr);
  -moz-box-align: center;
  align-items: center;
  margin-bottom: 100px;
}


.project-infos {
  position: relative;
  grid-area: 1 / 1 / -1 / 1;
  background-color: rgba(3, 64, 63, 0.6);
  height: 80%;
}

.project-infos ul {
  list-style: outside none none;
  padding: 0;
  margin: 0;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.techno {
  color: white;
}

.project-screenshot {
  grid-area: 1 / 3 / -1 / -1;
}

.project-screenshot a, .project-screenshot a img {
  width: 100%;
}
