@import "./css/common.css";
@import "./css/navbar.css";
@import "./css/intro.css";
@import "./css/button.css";
@import "./css/about.css";
@import "./css/email_social.css";
@import "./css/experience.css";
@import "./css/portfolio.css";
@import "./css/contact.css";
@import "./css/footer.css";


/*

font-family: 'Maven Pro', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Nanum Gothic', sans-serif;


*/

:root {
  --bg: #032724;
  --lighter-bg: #053e3e;
  --text-color: #a7c0b3;
  --accent-color: #e8a981;
  --white: #fdf8f5;
}


#main {
  padding-left: 24px;
  padding-right: 24px ;
}
